@import "var";
.comment
{
    padding:165px 0 85px 0;
    position: relative;
    &__quote
    {width:35px;
    height:35px;
position: absolute;
top:60px;
left:50%;
transform: translateX(-50%);
}
}

.comment__inner
{display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
cursor: pointer;}
.comment__text
{
color: $text-color;
text-align: center;
font-family: Roboto Condensed;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 108.333% */
margin-bottom: 20px;
}
.comment__text-accent
{font-weight:700;
    color: $accent;
}
.comment__autor
{
color: $title-color;
text-align: center;
font-family: Roboto Condensed;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2px;
}
.comment__wrap .slick-dots 
{
    bottom:-40px;
}
@media screen and (min-width:640px)
{
    .comment__text
    {
font-size: 32px;
margin-bottom: 40px;
line-height: 34px;
    }
    .comment__autor
    {
font-size: 20px;
    }
}
@media screen and (min-width:768px)
{
    .comment__text
{max-width: 680px;
margin: 0 auto;
margin-bottom: 35px;}
}
@media screen and (min-width:1024px)
{
    .comment__text
{max-width: 775px;
margin-bottom: 45px;}
}
@media screen and (min-width:1350px)
{
    .comment__text
{max-width: 870px;
margin-bottom: 30px;}
}