@import "var";
.services__wrap-content
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.services
{padding:25px 0 40px 0;}
.services__title
{color:$accent;  
    font-family: Roboto Condensed;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
    width: 100%;
    &::before
    {left:0;
        right:0;
        margin: 0 auto;
        content:"";
        background-color: $accent;
        bottom:-20px;
        position: absolute;
        width:100px;
        height:8px;
      
    }
}
.services__desc
{color: #4A4A4A;
margin-bottom: 20px;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */;
text-align: center;}
.services__text
{color: $text-color;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 113.333% */}

.services__items
{
    display: flex;
flex-wrap: wrap;
}
.services__item
{
    min-height: 310px;
    width:100%;
    border: 3px solid #F9F6E5;
    border-bottom: none;
    transition:0.4s;
    &:last-child0
    {border-bottom: 3px solid #F9F6E5;}
}
.services__item-content
{display: flex;
gap:30px;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
top:50%;
transform: translateY(-50%);
transition: 0.4s;}
.services__item-img
{
    width:64px;
    height:64px;
    object-fit: cover
}
.services__item-text
{color: #9B9B9B;
    text-align: center;
    margin-bottom: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */}
    .services__item-link
    {
        color: $accent;
        display: block;
text-align: center;
font-family: Roboto Condensed;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2px;
position: relative;
&::before
{
    position: absolute;
    content:"";
    background:url(images/arrow.svg) no-repeat;
    top:-20%;
    right:25%;
   background-size: cover;
    width:25px;
    height:100%;
    opacity:0;
    transition: 0.3s;
};
&:hover::before
{opacity:1;
right:10%;}
    }
    .services__item-desk
    {margin-bottom: 28px;}
.services__item-title
{color: #4A4A4A;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;}
    .services__item-desk
{opacity:0;
    margin-top: auto;
transition:0.4s;
max-width: 200px;
margin-left: auto;
margin-right: auto;}
.services__item:hover .services__item-desk
{
    opacity:1;
}
.service__item-wrap
{width:100%;
height:100%;
display: flex;
flex-direction: column;
transition:0.4s;}
.services__item:hover 
{
    padding: 18px 18px 18px 18px;
}
.services__item:hover .service__item-wrap
{border:4px solid $accent;}
.services__item:hover .services__item-content
{gap:15px;
    top:30%;
}

@media screen and (min-width:640px)
{
    .services__title
    {
        font-size:48px;
        &::before
        {display: none};
        margin-bottom: 12px;
    };
    .services__desc{
font-size:24px;
position: relative;
margin-bottom: 68px;
&::before
{left:0;
    right:0;
    margin: 0 auto;
    content:"";
    background-color: $accent;
    bottom:-40px;
    position:absolute;
    width:100px;
    height:8px;

}
    };
    .services__text
    {
font-size:18px;
    };
    .services__item
{
    width:50%;
    &:nth-child(even)
    {
        border-left: none;
    }
}
}


@media screen and (min-width:768px)
{   .services__desc{
text-align: left;
align-self: flex-start;
&::before
{   content:"";
    background-color: $accent;
    bottom:-40px;
    left:0;
    right: unset;
    position:absolute;
    width:100px;
    height:8px;

}
    };
    .services__text
    {
        align-self: flex-start;
        text-align: left;
    };
    .services__item
{
    width:50%;
    &:nth-child(even)
    {
        border-left: none;
    }
}
}



@media screen and (min-width:1024px)
{
    .services__title
    {
        margin-bottom: 60px;
    };
    .services__desc{
font-size:24px;
position: relative;
margin-bottom: 68px;
    };
    .services__text
    {
max-width: 610px;
    };
    .services__item
{
    width:25%;
    &:nth-child(3),
    &:nth-child(7)
    {border-left: none;}
}
}


@media screen and (min-width:1360px)
{
    .services__wrap
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:88px;
    };
    .services
{padding:0 0 0 0;};
.services__title
{text-align: left;};
.services__item
{width:25%};
.services__items
{max-width: 920px;};
.services__text
{max-width: 350px;}
}